<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/mehmetunal/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="mehmetunal" />
      <add key="ClearTextPassword" value="%PACKAGES_TOKEN%" />
    </github>
  </packageSourceCredentials>

  <packageSourceMapping>
    <packageSource key="github">
      <package pattern="Maggsoft.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
